<section >
  <div  class="container">
      <h5 class="bolder">Privacy Policy and Data Protection</h5>
      <br>
      <br>
       <p class="">Tima Egypt Retail S.A.E., a registered company operating under Egyptian laws, headquartered in Egypt, Bavaria Towers, Tower 4, Floor 8 – Ring Road, Katameya, and registered with the Tax Authority under VAT Register No. 379-456-249, is a member company of LC Waikiki International Group of Companies under LC Waikiki Mağazacilik Hizmetleri Tic. A.ş (LC Waikiki “the Company” or “we”) respects the privacy of its customers and makes every effort to ensure that their data and personal information
           are protected in compliance with all applicable legislation relating to the protection of personal data.</p>
       <br>
       <br>
       <p >
          For this purpose, we follow the following Privacy and Data Protection Policy (“Policy”) which sets out the main aspects regarding the personal data we collect and process on our website, for what purposes we collect this data, how we use this information, how you can change this information, know your preferences for how we communicate with you,
           as well as how we ensure the protection of this personal data and your rights in relation to your personal data.
       </p>
       <br>
       <br>
       <p class="">
          We comply with the applicable legal provisions and the personal data that we receive, collect from you, process,
           store or retain is processed in accordance with the applicable legislation and exclusively for the purposes set out in this Policy.
       </p>
       <br>
       <br>
       <p class="">
          It is worth noting that this Policy applies to you regardless of how you access our website
           and therefore includes any device through which you access our website (via phone, tablet, personal computer, etc.).
       </p>
       <br>
       <br>
       <p class="">
          It should be noted that our Cookies Policy is part of this Policy.

       <p class="">
          A. Acceptance of the Privacy and Data Protection Policy
       </p>
       <br>
       <br>
       <p class="">

          Before taking any further action on our website, we strongly recommend that you read this Policy carefully.
       </p>
       <br>
       <br>
       <p class="">
          If you do not agree to this policy and do not want your personal data
           to be used as detailed here, you must stop using our website and do not provide us with your personal data.
       </p>
       <br>
       <br>
       <p class="">
          We assure you every time you use our website that you are subject to our policy, and by further communicating with
          , browsing and using our website you confirm that you have read, understood and agreed to this policy
       </p>
       <br>
       <br>
       <p class="">
          . B. What personal data do we collect
       </p>
       <br>
       <br>
       <p class=" bolder">

          1. Personal data
       </p>
       <br>
       <br>
       <p class="">
          When you communicate with or browse our website, as well as when you make online purchases through our website and when you subscribe to e-newsletters and the website where
           we advertise our services and campaigns, we collect some of your personal data in order to serve you better.
       </p>
       <br>
       <br>
       <p class="">
          - Your name, surname, gender and date of birth
       </p>
       <br>
       <br>
       <p class="">
          - Billing information and delivery address
       </p>
       <br>
       <br>
       <p class="">
          - Personal interests, comments and browsing and shopping preferences
       </p>
       <br>
       <br>
       <P>

          - Your location
       </P>
       <br>
       <br>
       <p class="">
Please note that: In order to be able to create a personal account on our website and in order to make online purchases, you are required to provide us with all the personal data mentioned above. If you do not agree to provide this personal data, you will not be able to create your personal account or make purchases through our website.

       </p>
       <br>
       <br>
       <p class=" bolder" >2. Technical and statistical information and data</p>
       <br>
       <br>
       <p class="">
          We note that in addition to the personal data detailed above, we collect information about your device as well as other technical and statistical information and data such as the number of times and duration of your visits to our website, the number of times you order,
           the Internet Protocol address at the time of placing the order, and statistics about the product pages you visited and ordered products from.
       </p>
       <br>
       <br>
       <p class="">
          We collect and use this data to analyze what you do during the visit and your preferences, to manage the website for statistical purposes and for security reasons
       </p>
       <br>
       <br>
     <p>
       The technical and statistical data we obtain through your browser or device may also be used for marketing and advertising purposes, n
       oting that this data will not be associated with your personal data and will not be used to identify you.
     </p>
     <br>
     <br>
     <p>
       3. Payment information and data (banking information and/or payment card details)
     </p>
     <br>
     <br>
     <p>
       As part of processing any order and depending on the payment method you choose when placing your order, you are asked to provide information about your bank account and credit card information and to follow up on this information to be used to make payment to us or for refunds to you as the case may be.
     </p>
     <p>
       It is worth noting that in this case, you will have to provide your payment data directly to the payment processing company and not to us and therefore, you will be subject to the privacy policy of the payment processing company.
      <br>
      <br>
       We recommend that you read these terms and conditions before choosing this payment method. The credit card information used to place an order will not be saved and will never be stored in our system.
     </p>

     <p class=" bolder">
       c. How we use collected personal data
     </p>
      <p class="">
       Accordingly, we collect your personal data for the following purposes:
       <br>
       <br>
       · Creating a personal account for you on the LC Waikiki website (e.g. your name and email address)
       <br>
       <br>
       · Processing your orders through online services (e.g. your name, address and date of birth)
       <br>
       <br>
       · Sending you SMS notifications to inform you about deliveries (e.g. your phone number)
       <br>
       <br>
       · Sending you marketing offers such as newsletters and catalogues (e.g. your email address, name and postal address)
       · To conduct a questionnaire assessing your satisfaction for our call center ( e.g. your phone number, e-mail address, feedback),
       <br>
       <br>
       · Informing you about delivery problems with the products you have ordered (e.g. your phone number and street address)
       <br>
       <br>
       · Responding to your inquiries and informing you about new or changed services (e.g. your email address)
       <br>
       <br>
       · Analyzing your personal information to provide you with marketing offers and information that are tailored to your preferences (e.g. your email address, shopping habits, technical and statistical data)
       <br>
       <br>
       · Verifying that you are of legal age to shop online (e.g. your date of birth)
       <br>
       <br>
       Please note that we do not and will not knowingly collect information from any unsupervised person under the age of 18. If you are under the age of 18, you should not use this website. Electronically or send any personal data to us.
       <br>
       <br>
       Furthermore, personal data collected through the website may also be used for the following purposes:
       <br>
       <br>
       · Preparing and completing order processes and ensuring communication with our customers in order to fulfill our obligations arising from any transactions with customers.
       <br>
       <br>
       · Providing you with information about our products, services, campaigns, promotions, notices and/or other information.
       <br>
       <br>
       · To better understand our customers' shopping preferences to help them enjoy shopping on our website in a way that suits their personalities
       <br>
       <br>
       · To carry out statistical and trend analyses, including for marketing and other company purposes
       <br>
       <br>
       · To enhance the security of the website
      </p>
      <br>
      <br>
      <p class="bolder">
       D. How we share collected personal data
      </p>
      <br>
      <br>
      <p>
       Personal data collected on the website may be shared, disclosed or prepared by our employees or partners who provide related services (such as freight and delivery companies, call centers, database services, advertising and marketing agencies, etc.).
       <br>
       <br>
       We may disclose and/or transfer your personal data to our affiliates, represented by the LC Waikiki Group of Companies Mağazacilik Hizmetleri A.ş , as well as to the relevant government authorities where required by law in order to provide the best service to our customers and fulfill our obligations towards our customers.
       <br>
       <br>
      However, the company protects your personal data in any case and we also ensure that these companies that share your personal data protect this data and ensure privacy at the same level as your personal data.
      <br>
      <br>
       All personal data and other information we collect from you may be transferred outside Egypt, provided that in this case we take all technical and organizational measures in accordance with applicable legislation regarding the transfer of personal data.
       <br>
       <br>
      Otherwise, your personal data will never be disclosed to any third party, whether natural persons or legal entities that do not have any commercial relationship with us for the purposes of this website, and such data will not be used or sold for any commercial purposes.
      <br>
      <br>
      In the event that another company is interested in acquiring all or part of our business, we reserve the exclusive right to disclose your personal data and other information to this company and for the purposes of the expected purchase.
      <br>
      <br>
      We cannot control or bear any responsibility for the transfer of your personal data and other information carried out by other partner companies that provide related services on or related to our website.
      </p>
  </div>
</section>

