<!-- ----------------------Haidy Code--------------------- -->

<!-- <section
  *ngIf="step1"
  class="bg-main-light my-5 w-100 rounded p-5 shadow mx-auto"
>
  <div class="container">
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Please enter your new password</h3>
      <label for="New Password"></label>
      <input
        #inputPass
        formControlName="newPassword"
        type="password"
        id="New Password"
        placeholder="New Password"
        class="form-control mb-3"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          resetPassForm.get('newPassword')?.errors &&
          (resetPassForm.get('newPassword')?.touched ||
            inputPass.value.length > 0)
        "
      >
        <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">
          Password must contain:<br />
          Minimum 6 characters, One uppercase letter, One lowercase letter, One number, One special character<br />
        </p>
      </div>
      <button class="btn bg-main text-light  w-100">Reset Password</button>
      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>
    </form>
  </div>
</section> -->

<!-- ----------------------My Code--------------------- -->
<div class="auth-page-wrapper">
  <div class="login-wrapper">
    <div class="login-background">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
    </div>
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()" class="login-card">
      <h2 class="form-title">Reset Your Password</h2>

      <div class="form-group">
        <label for="New Password" class="form-label">New Password</label>
        <input #inputPass type="password" id="New Password" formControlName="newPassword" class="form-input"
          placeholder="Enter your new password">
      </div>

      <div class="alert alert-danger mt-3" *ngIf="
          resetPassForm.get('newPassword')?.errors &&
          (resetPassForm.get('newPassword')?.touched ||
          inputPass.value.length > 0)
        ">
        <span *ngIf="resetPassForm.get('newPassword')?.getError('required')">Password is required</span>
        <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">
          Password must contain:<br />
          Minimum 6 characters, One uppercase letter, One lowercase letter, One number, One special character<br />
        </p>
      </div>

      <button type="submit" class="reset-btn" [disabled]="!resetPassForm.valid"><span>Reset Password</span></button>

      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>

      <div *ngIf="msg" class="error-message">
        {{ msg }}
      </div>
    </form>
  </div>
</div>