<section
  *ngIf="step1"
  class="bg-main-light my-5 w-100 rounded p-5 shadow mx-auto"
>
  <div class="container">
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Please enter your new password</h3>
      <label for="New Password"></label>
      <input
        #inputPass
        formControlName="newPassword"
        type="password"
        id="New Password"
        placeholder="New Password"
        class="form-control mb-3"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          resetPassForm.get('newPassword')?.errors &&
          (resetPassForm.get('newPassword')?.touched ||
            inputPass.value.length > 0)
        "
      >
        <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">
          Password must contain:<br />
          - Minimum 6 characters<br />
          - One uppercase letter<br />
          - One lowercase letter<br />
          - One number<br />
          - One special character<br />
        </p>
      </div>
      <button class="btn bg-main text-light  w-100">Reset Password</button>
      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>
    </form>
  </div>
</section>

