<div class="container text-center py-5 col-4">
  <img src="../../../assets/Not-found/notFound1(3x).png" alt="Oops" class="img-fluid mb-4" style="max-width: 300px;" />

  <div class="bg-light p-3 rounded mb-4">
    <p class="mb-0 fw-bold">The page you are looking for is currently unavailable.</p>
    <p>Would you like to try the following options?</p>
  </div>

  <div class="input-group mb-4 w-75 mx-auto" style="max-width: 500px;">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="What are you looking for?">
    <button class="btn btn-outline-secondary">Search</button>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto mb-4">
    <a [routerLink]="'/home'" class="btn btn-primary">Back to Home Page</a>
  </div>

  <div class="row row-cols-2 row-cols-md-3 g-2 justify-content-center ">
    <div class="col">
      <a routerLink="/woman" class="btn btn-outline-primary w-100 ">Woman</a>
    </div>
    <div class="col">
      <a routerLink="/man" class="btn btn-outline-primary w-100">Man</a>
    </div>
    <div class="col">
      <a routerLink="/kids" class="btn btn-outline-primary w-100">Kids</a>
    </div>
    <div class="col">
      <a routerLink="/baby" class="btn btn-outline-primary w-100">Baby</a>
    </div>
    <div class="col">
      <a routerLink="/home" class="btn btn-outline-primary w-100">LCW Home</a>
    </div>
    <div class="col">
      <a routerLink="/outlet" class="btn btn-outline-primary w-100">Outlet</a>
    </div>
  </div>
</div>
