<footer class="gab-4  pt-5 pb-3 ">
  <div class="container">

    <hr>
  <div class="row">
    <p class="fw-bold ms-5 col-md-4"> Download The App</p>
    <div class=" col-md-3  ">
      <img  class=" w-25 me-4"  src="../../../assets/footer-Images/app store.jpg" alt="">
      <img  class="w-25" src="../../../assets/footer-Images/google store.jpg" alt="">
    </div>
    <p class="col-md-3 fw-bolder "> Follow Us </p>

  </div>

  <div class="  pt-5 pb-3 bg-body-secondary ">
    <div class="row py-2">
      <div class=" container">
         <div class="row text-start">
            <div class="col-md-4 p-3 ms-5">
                 <h4 class="fw-bolder ">Help</h4>
                    <ul class="list-unstyled fw-light ">
                      <li class="mb-1"   > <a  routerLink="/returns"> Returns and Changes</a> </li>
                       <li class="mb-1"> <a routerLink="/shipping"> Shipping & Delivery</a> </li>
                    </ul>
             </div>


            <div class="col-md-4 offset-lg-1 ms-3">
                <h4 class="   fw-bolder ">ABOUT US</h4>
                   <ul class="list-unstyled fw-light  ">
                     <li class="mb-1"> <a href="">About us</a> </li>
                     <li class="mb-1"> <a href=""> Our Stores</a> </li>
                      <li class="mb-1"> <a href=""> Corporate</a> </li>
                      <li class="mb-1"> <a href=""> Career Opportunities</a> </li>
                      <li class="mb-1"> <a href=""> Corporate Support</a> </li>
                   </ul>
            </div>

            <div class="col-md-3 offset-lg-1 ms-3 ">
                <h4 class=" fw-bolder ">POLICIES</h4>
                   <ul class="list-unstyled fw-light">
                     <li class="mb-1"> <a routerLink="/dataprivacy">Data Privacy And  <br>  Security Policy</a> </li>
                     <li class="mb-1"> <a routerLink="/termofuse"> Terms Of Use</a> </li>
                   </ul>
            </div>
         </div>
      </div>
   </div>
  </div>

  </div>

  </footer>

  <div  class="container">
    <section class="d-flex justify-content-between align-items-center">
      <div class="w-25 ms-5">
        <!-- <img  class=" me-4"  src="../../../assets/images/download (3).png" alt=""> -->
         <span class="w-25">
          <img class="w-25 me-3" src="../../../assets/footer-Images/visa.jpg" alt="">
          <img class="w-25" src="../../../assets/footer-Images/download (3).png" alt="">
         </span>


    </div>

     <div>
      <p class="me-4"> Almost all over the world! |
        <i class="fa-solid fa-earth-americas"></i>
        Egypt</p>
     </div>
    </section>
  </div>








