<nav class="navbar navbar-expand-lg bg-body-tertiary shadow fixed-top p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="./assets/img/Black and Yellow Online Store Logo (300 x 100 px) (160 x 100 px) (3).svg" alt="FreshCart Logo"  />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="product/Women">WOMEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="product/Men">MEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="product/Kids">KIDS</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item me-4">
          <a routerLink="wishlist" class="nav-link cursor-pointer">
            <i class="fa-solid fa-heart"></i>
          </a>
        </li>
        <li class="nav-item me-4">
          <a routerLink="cart" class="nav-link cursor-pointer">
            <i class="fa-solid fa-cart-shopping position-relative">
              <span *ngIf="cartCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ cartCount }}
              </span>
            </i>
                      </a>
        </li>
        <li class="nav-item dropdown me-2">
          <a class="nav-link cursor-pointer dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end mt-2 shadow">
            <li>
              <a class="dropdown-item cursor-pointer" [routerLink]="['/profile']">
                Personal Information
              </a>
            </li>
            <li>
              <a
                class="dropdown-item nav-link cursor-pointer text-light bg-danger"
                routerLinkActive="active-link"
                routerLink="/login"
                (click)="logoutUser()"
                >Logout</a
              >
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

