<section
  *ngIf="step1"
  class="bg-main-light p-5 rounded my-5 w-100 mx-auto shadow"
>
  <div class="container">
    <h2 class="text-center">Please enter your verification mail</h2>
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPass()">
      <label for="email"></label>
      <input
        formControlName="email"
        type="email"
        id="email"
        placeholder="Email"
        class="form-control mb-3"
      />
      <button class="btn bg-main text-light  w-100">Forget Password</button>
      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>
    </form>
  </div>
</section>
<section
  *ngIf="step2"
  class="bg-main-light w-100 my-5 rounded p-5 shadow mx-auto"
>
  <div class="container text-center">
    <i class="fas fa-check-circle" style="font-size: 40px; color: rgb(2, 2, 65);"></i>
    <h3>Please check your inbox or spam / junk folder.</h3>
    <p>Your password resetblink has been sent to your<SPan class="fw-bold">{{email}}</SPan>email address.<br> Please continue process by clicking the link in your e-mail.</p>
    <!-- <button class="btn bg-main text-light mt-3" (click)="goToResetStep()">Continue</button> -->
  </div>
</section>
